API_URL=http://localhost:1337/graphql
# This is one of the activities: CycleCountActivity | BatchCountActivity | ItemLookupActivity | TruckDetailScanActivity
START_ACTIVITY=CycleCountActivity
BUILD=branch-env-appVersion-commitTime
VERSION=0.0.0

LAUNCH_DARKLY_MOBILE_KEY=

# These are the dev options, it's safe to include them as examples
OKTA_CLIENT_ID=0oa1mbj09brYYLDsK0h8
OKTA_AUTH_SERVER_URL=https://advanceauto.oktapreview.com/oauth2/aus1lqs5cuniao55d0h8
